<% include ./partials/header.ejs%>
<div>
    <h1 class="lrH1">Log in</h1>
    <form class="lrForm" action="/login" method="post">
          <input class="lrInput" type="input" name="username" placeholder="username">
          <br>
          <input class="lrInput" type="password" name="password" placeholder="password">
          <br>
        <button style="margin-left:50%; margin-right:50%; margin-top:25px" class="btn btn-lg btn-primary">Sign in</button>
    </form>
</div>
<% include ./partials/footer.ejs%>