<% include ./partials/header.ejs%>
<h1>Welcome to Login Page!</h1>
<form action="/login" method="post">
    <input type="input" name="username" placeholder="username"></input>
    <input type="password" name="password" placeholder="password"></intpu>
    <button>Submit</button>
</form>
<% include ./partials/footer.ejs%>